*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 header{
    background-color: rgb(53,66,74);
    height: 5rem;
    border-bottom: 2px solid rgb(169,80,139);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
 }

header .logo h1{
    font-size: 2rem;
    color: white;
}
span{
    color:rgb(169,80,139) ;
}
header .link a{
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    transition: 1s;
}
header .link a:hover{
    color:rgb(169,80,139) ;
}
.banner{
    background-image: url(img/showcase.jpg);
    height: 570px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.banner h2{
    font-size: 3.5rem;
    padding: 1.5rem;
}
.banner p{
    font-size: 2rem;
}
.newsletter{
    background-color:rgb(53,66,74);
    color: white;
    font-size: 1.5rem;
    height: 6rem;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newsletter .rightside input{
    height: 2.2rem;
    width: 280px;
}
.newsletter .rightside button{
    height: 2.2rem;
    width: 100px;
    background-color: rgb(241,101,41);
    color: wheat;
    font-size: 15px;
    font-weight: 600;
    border: none;
    transition: 1s;
}
.newsletter .rightside button:hover{
    cursor: pointer;
    background-color: red;
}
.languages{
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.languages .html img{
    width: 130px ;
}
.languages .html h3{
    padding: 2rem;
}
.languages .html p{
    font-size: 1rem;
}
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(53,66,74) ;
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}
footer p{
    margin-bottom: 14px;
}
.about-yazi{
    display: flex;
    padding: 3rem;
    font-weight: 300;
}
.about-yazi .sol{
    padding-right: 3.5rem;
}
.about-yazi h3{
    font-size: 30px;
    margin-bottom: 5px;
}
.about-yazi .renk{
    background-color: rgb(53,66,74);
    color: white;
    padding: 2.4rem;
    margin-top: 20px;
    font-size: large;
}
.about-yazi p{
    font-size: large;
}
.servis{
    height: 100%;
    display: flex;
    padding: 3.2rem;
    font-weight: 400;
}
.soltaraf{
    padding-right: 7.5rem;

}
.servis h4{
    padding-bottom: 1.8rem;
    font-weight: 600;
}
.soltaraf .yazılar{
    background-color: #e6e6e6;
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 8px 10px;
}
h5{
    margin-top: 2rem;
}
.giriş{
    background-color: rgb(53,66,74);
    padding: 2rem;
    color: white;

}
.giriş{
    padding-bottom: 2rem;
}
.giriş input{
    width: 300px;
    padding: 10px;
    margin-bottom:30px;
}

.sagtaraf button{
    padding: 10px;
    margin-top: 20px;
    color: white;
    background-color: red;
    border: none;
    transition: all 1s;
}
.sagtaraf button:hover{
    background-color: yellow;
    padding: 14px;
    color: red;
}

textarea{
    resize: none;
}